@import "tailwindcss";

@theme {
  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  @apply bg-neutral-50 dark:bg-neutral-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer components {
  .animate-fade-up {
    animation: fade-up 0.5s ease-out forwards;
  }

  @keyframes fade-up {
    from {
      opacity: 0%;
      transform: translateY(20px);
    }

    to {
      opacity: 100%;
      transform: translateY(0);
    }
  }
}
